@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Bold.eot');
    src: url('HyundaiSansHeadOffice-Bold.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansHeadOffice-Bold.woff2') format('woff2'),
        url('HyundaiSansHeadOffice-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-BoldItalic.eot');
    src: url('HyundaiSansTextOffice-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansTextOffice-BoldItalic.woff2') format('woff2'),
        url('HyundaiSansTextOffice-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Regular.eot');
    src: url('HyundaiSansTextOffice-Regular.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansTextOffice-Regular.woff2') format('woff2'),
        url('HyundaiSansTextOffice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-MediumItalic.eot');
    src: url('HyundaiSansTextOffice-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansTextOffice-MediumItalic.woff2') format('woff2'),
        url('HyundaiSansTextOffice-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Light.eot');
    src: url('HyundaiSansHeadOffice-Light.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansHeadOffice-Light.woff2') format('woff2'),
        url('HyundaiSansHeadOffice-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Regular.eot');
    src: url('HyundaiSansHeadOffice-Regular.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansHeadOffice-Regular.woff2') format('woff2'),
        url('HyundaiSansHeadOffice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Italic.eot');
    src: url('HyundaiSansTextOffice-Italic.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansTextOffice-Italic.woff2') format('woff2'),
        url('HyundaiSansTextOffice-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hyundai Sans Head Office';
    src: url('HyundaiSansHeadOffice-Medium.eot');
    src: url('HyundaiSansHeadOffice-Medium.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansHeadOffice-Medium.woff2') format('woff2'),
        url('HyundaiSansHeadOffice-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Bold.eot');
    src: url('HyundaiSansTextOffice-Bold.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansTextOffice-Bold.woff2') format('woff2'),
        url('HyundaiSansTextOffice-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text Office';
    src: url('HyundaiSansTextOffice-Medium.eot');
    src: url('HyundaiSansTextOffice-Medium.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansTextOffice-Medium.woff2') format('woff2'),
        url('HyundaiSansTextOffice-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Head';
    src: url('HyundaiSansHead.eot');
    src: url('HyundaiSansHead.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansHead.woff2') format('woff2'),
        url('HyundaiSansHead.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText-Italic.eot');
    src: url('HyundaiSansText-Italic.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansText-Italic.woff2') format('woff2'),
        url('HyundaiSansText-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText-MediumItalic.eot');
    src: url('HyundaiSansText-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansText-MediumItalic.woff2') format('woff2'),
        url('HyundaiSansText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText-BoldItalic.eot');
    src: url('HyundaiSansText-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansText-BoldItalic.woff2') format('woff2'),
        url('HyundaiSansText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText.eot');
    src: url('HyundaiSansText.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansText.woff2') format('woff2'),
        url('HyundaiSansText.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText-Bold.eot');
    src: url('HyundaiSansText-Bold.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansText-Bold.woff2') format('woff2'),
        url('HyundaiSansText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Text';
    src: url('HyundaiSansText-Medium.eot');
    src: url('HyundaiSansText-Medium.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansText-Medium.woff2') format('woff2'),
        url('HyundaiSansText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Head';
    src: url('HyundaiSansHeadMedium.eot');
    src: url('HyundaiSansHeadMedium.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansHeadMedium.woff2') format('woff2'),
        url('HyundaiSansHeadMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Head';
    src: url('HyundaiSansHead-Bold.eot');
    src: url('HyundaiSansHead-Bold.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansHead-Bold.woff2') format('woff2'),
        url('HyundaiSansHead-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Hyundai Sans Head';
    src: url('HyundaiSansHead-Light.eot');
    src: url('HyundaiSansHead-Light.eot?#iefix') format('embedded-opentype'),
        url('HyundaiSansHead-Light.woff2') format('woff2'),
        url('HyundaiSansHead-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

