/* Colors */
:root {
	--yablack: #000000;
	--yawhite: #ffffff;
	
	--yalightgray: #f6f3f2;
	--yagray: #e4dcd3;
	--yadarkgold: #a36b4f;
	
	--yalightblue: #aacae6;
	--yablue: #00aad2;
	--yadarkblue: #002c5f;
	
	--yalightred: #fb9886;
	--yared: #e63312;
	--yadarkred: #bf1e00;
}

/* Global styles */
body {
	color: var(--yablack);
	font-family: 'Hyundai Sans Text';
	font-weight: normal;
}
a, a:focus, a:active, a:visited {
	color: var(--yablue);
}
a:hover {
	color: var(--yadarkblue);
}
a.hc-white:hover {
	color: var(--yawhite);
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Hyundai Sans Head';
	font-weight: bold;
}
h2.title {
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: normal;
}
.bborder {
	position: absolute;
    bottom: -10px;
    display: inline-block;
    height: 2px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
	background-color: var(--yadarkblue);
}
iframe {
    border: none;
}
.pc {
	display: -webkit-box;;
}
.mob {
	display: none;
}

.bg-lightgray {
	background: var(--yalightgray);
}
.bg-darkblue {
	background: var(--yadarkblue);
	color: var(--yawhite);
}
.bg-darkblue .bborder {
	background: var(--yawhite);
}

.but-red, .but-red:active, .but-red:focus, .but-red:visited {
	background: var(--yared);
	color: var(--yawhite);
	font-family: 'Hyundai Sans Head';
	font-weight: normal;
	text-decoration: none;
	transition: .3s;
}
.but-red:hover {
	text-decoration: none;
	background: var(--yadarkred);
	transition: .3s;
	color: var(--yawhite);
}

.but-darkblue, .but-darkblue:active, .but-darkblue:focus, .but-darkblue:visited {
	background: var(--yadarkblue);
	color: var(--yawhite);
	font-family: 'Hyundai Sans Head';
	font-weight: normal;
	text-decoration: none;
	transition: .3s;
}
.but-darkblue:hover {
	text-decoration: none;
	background: var(--yablue);
	transition: .3s;
	color: var(--yawhite);
}
.form-control:focus {
  border-color: var(--yadarkblue);
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 44, 95, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 44, 95, 0.25);
}

p small {
	line-height: 1;
}



/* Custom styles */

.top-row {	
}
.top-row ul {
	list-style: none;
}
.top-row ul li span {
	color: var(--yagray);
	text-transform: uppercase;
	font-weight: bold;
}
.top-row ul li a, .top-row ul li a:focus, .top-row ul li a:active, .top-row ul li a:visited {
	font-weight: bold;
	color: var(--yadarkblue);
}
.top-row ul li svg {
	fill: var(--yadarkblue);
	width: 12px;
	height: 12px;
}

.logo-row {
}
.logo-row ul {
	list-style: none;
}
.logo-row ul li a, .logo-row ul li a:focus, .logo-row ul li a:active, .logo-row ul li a:visited {
	font-weight: bold;
	color: var(--yablack);
	transition: .3s;
}
.logo-row ul li a:hover {
	text-decoration: none;
	color: var(--yadarkblue);
	transition: .3s;
}
.logo-row ul li a svg {
	fill: var(--yadarkblue);
	width: 24px;
	height: 24px;
	margin-right: 8px;
}
.logo-hyundai-yugavto svg {
	fill: var(--yadarkblue);
	width: 200px;
	height: 38px;
}

.banner {
	background: url(/bitrix/templates/land.service/assets/images/hero-service.jpg) var(--yalightgray) center center no-repeat;
	background-size: cover;
}

.banner .plate {
	right: 0;
	height: 403px;
	position:absolute;
}


.btn-row {
}
.btn-row a {
	color: var(--yawhite);
	position: relative;
	line-height: 1.2;
}
.btn-row a svg {
	fill: var(--yawhite);
	width: 36px;
	height: 36px;
	position: absolute;
	left: 0;
	top: 0;
}
.btn-row ul {
	list-style: none;
}

.futures svg {
	fill: var(--yawhite);
    width: 42px;
    height: 42px;
}

.card-form {
	top: 0;
	display: none;
}
.card-form a[role="closeActionForm"] {
	position: absolute;
	right: 15px;
	top: 15px;
}
.card-form a[role="closeActionForm"] svg, a[role="showActionForm"] svg {
	fill: var(--yawhite);
	width: 24px;
	height: 24px;
}

.services svg {
	fill: var(--yadarkblue);
	width: 48px;
	height: 48px;
	margin-right: 30px;
}

.contacts {
	color: var(--yawhite);
	background: var(--yadarkblue);
	position: absolute;
	height: 500px;
	top: 0;
	width: 25%;
	min-width: 385px;
	z-index: 1;
}
.contacts svg {
	fill: var(--yawhite);
	width: 100px;
	height: 22px;
}
.contacts h5 {
	font-family: 'Hyundai Sans Text';
	font-weight: normal;
}
.contacts ul {
	list-style: none;
}
.contacts ul li svg {
	width: 24px;
	height: 24px;
	margin-right: 15px;
}
.contacts ul li a, .contacts ul li a:hover, .contacts ul li a:focus, .contacts ul li a:active, .contacts ul li a:visited {
	color: var(--yawhite);
}

.remodal-overlay {
    background: rgba(0,0,0,.8);
}
.remodal-close, .remodal-close:before {
    top: 0;
    left: unset;
	right: 0;
}
.alert {
	display: none;
}

.timer-value {
	font-size: 3em;
	color: var(--yadarkblue);
	font-weight: bold;
}




@media only screen and (min-width: 641px) {
.remodal {
    max-width: 500px;
}
.remodal.col2 {
    max-width: 800px;
}
}




/* xl-размер (>=1200px) */
/* CSS для >=1200px */
 
/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
	/* CSS для ширины от 992px до 1199px */
}
 
/* md-размер (<=991px) */
@media (max-width: 991px) {
	/* CSS для ширины от 768px до 991px */
	.pc {display:none !important;}
	.mob {display: flex;}
	.btn-row a svg {top: 5px;}
	.prev-pic, .next-pic {padding-top: 258px;}
	.prev-pic svg, .next-pic svg {}
	.swiper-container {height: 480px;}
	.swiper-slide h2 {font-size: 2em; }
	.swiper-slide h4 {font-size: 0.9em;}
	.contacts {position: unset; width:100%;}
	.swiper-bg {width:100%;margin-left:0;left:0;}
	a.but-petal {
		color: var(--yawhite);
		background: var(--yared);
		width: 150px;
		height: 150px;
		display: inline-block;
		position: absolute;
		top: -520px;
		right: -30px;
		font-size: 2em;
		line-height: 0.8em;
		border-radius: 50% 50% 50% 0;
		padding-top: 30px;
		padding-right: 15px;
		text-align: right;
		font-weight: bolder;
		z-index: 5;
	}
	a.but-petal span {
		font-size: 0.7em;
	}
	a.but-petal span:first-child {
		font-size: 0.6em;
		font-weight: normal;
		opacity: 0.8;
		line-height: 1.8em;
	}
	.banner .plate {
		position: inherit;
		height: 450px;
	}
}

@media (width: 768px) {
	.prev-pic, .next-pic {padding-top: 258px;}
	.prev-pic svg, .next-pic svg {}
	.swiper-container {height: 480px;}
	.swiper-slide h2 {font-size: 3em; margin-left: 3rem;}
	.swiper-slide h4 {font-size: 1.2em;margin-left: 3rem;}
}

/* sm-размер (<=768px) */
@media (max-width: 767px) { 
	/* CSS для ширины от 576px до 767px */
	.prev-pic, .next-pic {padding-top: 198px;}
	.prev-pic svg, .next-pic svg {}
	.swiper-container {height: 360px;}
	.swiper-slide h2 {font-size: 2em; margin-left: 2rem;}
	.swiper-slide h4 {font-size: 1em;margin-left: 2rem;}
	.swiper-slide img { bottom: 48px; left: 10px; width: 95%; margin-left: 0;}
	.credit h2 {font-size: 3em;}
	.banner svg {width: 24px;height: 24px;}
	.logo-hyundai-yugavto svg {width: 150px;height: 30px;}
	.swiper-slide a { color: var(--yawhite);
		width: 150px;
		height: 150px;
		display: inline-block;
		position: unset;
		top: 0;
		right: 0;
		font-size: 1.3em;
		line-height: 1;
		border-radius: 0;
		padding-left: 0.5rem !important;
	}
	a.but-petal {
		color: var(--yawhite);
		background: var(--yared);
		width: 75px;
		height: 75px;
		display: inline-block;
		position: absolute;
		top: -325px;
		right: -30px;
		font-size: 1em;
		line-height: 0.8em;
		border-radius: 50% 50% 50% 0;
		padding-top: 15px;
		padding-right: 7px;
		text-align: right;
		font-weight: bolder;
		z-index: 5;
	}
	a.but-petal span {
		font-size: 0.7em;
	}
	a.but-petal span:first-child {
		font-size: 0.6em;
		font-weight: normal;
		opacity: 0.8;
		line-height: 1.8em;
	}
	
}
 
/* xs-размер (<=575px) */
@media (max-width: 575px) {
	/* CSS для ширины до 575px (включительно) */
	.prev-pic, .next-pic {padding-top: 198px;}
	.prev-pic svg, .next-pic svg {}
	.swiper-container {height: 360px;}
	.credit h2 {font-size: 2em;}
	h2.title {font-size: 2.5em;}
}

@media (max-width: 435px) {
	/* CSS для ширины до 575px (включительно) */
}

@media (max-width: 414px) {
	/* CSS для ширины до 575px (включительно) */
	.prev-pic, .next-pic {padding-top: 156px;}
	.prev-pic svg, .next-pic svg {}
	.swiper-container {height: 276px;}
	.swiper-slide { margin-top: 1rem !important;}
	.swiper-slide h2 {font-size: 1.6em; margin-left: 2rem;}
	.swiper-slide h4 {font-size: 0.9em;margin-left: 2rem;}
	.swiper-slide img { bottom: 15px;}
}

@media (max-width: 376px) {
	.prev-pic, .next-pic {padding-top: 143px;}
	.prev-pic svg, .next-pic svg {}
	.swiper-container {height: 250px;}
	.swiper-slide h4 {font-size: 0.8em;width: 80%;}
}


